.board {
	border: 2px solid rgb(3, 143, 224);
	height: 50vw;
	width: 50vw;
	display: block;
	margin: auto;
	padding: 8px 5px 5px 5px;
}

.row {
	height: 20%;
	width: 100%;
	text-align: center;
}

.cell {
	display: inline-block;
	background-color: rgb(3, 143, 224);
	color: white;
	padding: 10px;
	margin: 2px;
	height: 4vw;
	width: 4vw;
	text-align: center;
}

form {
	margin: 15px;
	text-align: center;
}

input {
	background-color: black;
	margin: 0 10px 0 0;
}

.err {
	color: red;
}
